*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --db-dark: #000000;
    --db-light: #ffffff;
    --db-btn: #0061ff;
    --db-banner: #b4d0e7;
    --db-design: #a2d39b;
    --db-Florida: #0093ce;
    --db-ASU: #61082b;
    --db-topps: #ff1c1c;
    --db-centraldesign: #f5f5f5;
    --db-WBR: #d5001f;
    --db-lonelyplanet: #0d2481;
    --db-hearst: #b4d0e7;
    --db-clearchanneloutdoor: #ffd830;
    --db-text: #080808;
}
.row{
    width: 100%;
}
.d-flex
{
    display: flex;
}
ul{
    list-style-type: none;
}

/* #header */
header{
    position: fixed;
    width: 100%;
    background-color: #ffd830;
}
header li{
    padding: 1rem;
}

header .row{
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* main */
.intro{
    height: 500px;
}

.col h1{
    background-color: #61082b;
    padding-top: 6rem;
    font-size: 2rem;
    padding-right: 10rem;
}


