*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --db-dark: #000000;
    --db-light: #ffffff;
    --db-btn: #0061ff;
    --db-banner: #b4d0e7;
    --db-design: #a2d39b;
    --db-Florida: #0093ce;
    --db-ASU: #61082b;
    --db-topps: #ff1c1c;
    --db-centraldesign: #f5f5f5;
    --db-WBR: #d5001f;
    --db-lonelyplanet: #0d2481;
    --db-hearst: #b4d0e7;
    --db-clearchanneloutdoor: #ffd830;
    --db-family-text: #600528;
}
.row{
    width: 100%;
}
.d-flex
{
    display: flex;
}
ul{
    list-style-type: none;
}

/* #header */
nav{
    position: fixed;
    width: 100%;
    background-color: #ffd830;
    justify-content: center;
}
header li{
    padding: 1rem;
}

header .row{
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* main */
#intro{
    padding-top: 90px;
    width: 100%;
    height: 100%;
    background-color: var(--db-banner);
}

.card{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    padding: 1rem;
}

h1{
    font-size: 4rem;
    font-weight: bold;
}


.colbanner{
    width: 50%;
    background-color: #61082b;
    height: 200px;
    border: 1px solid black;
    margin-top: 1rem;   
}

.arrow-down{
    align-items: flex-end;
}

img{
    width: 100%;
    margin-bottom: -5rem;
}

#business_plan{
    padding-top: 90px;
    width: 100%;
    height: 100%;
    background-color: var(--db-light);
}

.card_2{
    width: 60%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    padding: 1rem;
}

h2{
    margin: 2rem 0;
}
.row_bp{
    margin-inline: 0px;
    margin-right: -1rem;
}

.col_bp_title{
    width: calc((100% / 12) * 4);
    background-color: lightgray;
    height: 100%;
    border: 1px solid black;
    margin-right: 1rem;
    align-content: center;
    padding: 1rem;
}

.col_p{
    margin: 1rem 0;
}

.btn_bp{
    background-color: #ff1c1c;
    color: white;
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-size: 0.8rem;
}

.br{
    border-bottom: 1px solid black;
    width: 100px;
    color: lightgray;
}

.row_bp_team{
    margin-top: 2rem;
    height: 100%;
    background-color: #ffd830;
    width: 100%;
    border: 1px solid black;
}

.enterprise_col1{
    width: 60%;
    background-color: #61082b;
    height: 200px;
    border: 1px solid black;
    margin-top: 1rem;   
    text-align: left;
    padding: 1rem;
}
.enterprise_col2{
    width: 40%;
    background-color: #61082b;
    height: 200px;
    border: 1px solid black;
    margin-top: 1rem; 
    text-align: right;  
}

.container_db_partner{
    width: 60%;
    margin: 4rem auto;
    text-align: left;
    border: 1px solid black;
    padding: 1rem;
    background-color: beige;
    font-size: 0.8rem;
}
.row_partner{
    min-height: 400px;
}

.partner_img{
    width: 100%;
}

.col_partner{
    width: 65%;
    background-color: #61082b;
    border: 1px solid black;
    height: 500px;
}
.padding_partner{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.col_partner2{
    width: 35%;
    background-color: #61082b;
    border: 1px solid black;
    height: 100%;
}

.btn_partner{
    background-color: #ff1c1c;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-size: 0.8rem;
}

#dropbox_business{
    text-align: center;
}

.operations_db{
    margin: 2rem auto;
    width: 60%;
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
    background-color: lightseagreen;
}
.col4{
    width: calc((100% / 12) * 4);
    border: 1PX solid BLACK;
    padding: 2rem;
    height: 100%;
    background-color: lightgray;
    display: flex;
}

.row_DB{
    flex-wrap: wrap;
    display: flex;
}

.img_dpb{
    width: 100%;
}
.description{
    padding-top: 5rem;
   text-align: left;
}

#sm-dp-business{
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.card{
    width: 60%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    padding: 1rem;
    background-color: #d5001f;
}

.family{
    width: 100%;
    height: 100%;
    background-color: var(--db-family-text);
    color: var(--db-family-text);
    margin: 2rem 0;
    padding: 1rem 0;
}

.col-f{
    width: 50%;
}
.row-f{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.ta-right{
    text-align: right;
}

#app_footer{
    height: 400px;
    background-color: var(--db-dark);
}
.card_footer{
    width: 70%;
    margin: 1rem auto;
    text-align: left;
    border: 1px solid yellow;
    padding: 3rem 0;
    color: white;
    justify-content: space-between;
}

.col5{
    width: calc(100% / 5);
}

.row_footer{
    display: flex;
    padding: 0.5rem;
}

#app_footer li{
    padding: 0.25rem;
    font-size: 0.8rem;
}

h3{
    padding-bottom: 1rem;
}