*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --db-dark: #000000;
    --db-light: #ffffff;
    --db-btn: #0061ff;
    --db-banner: #b4d0e7;
    --db-design: #a2d39b;
    --db-Florida: #0093ce;
    --db-ASU: #61082b;
    --db-topps: #ff1c1c;
    --db-centraldesign: #f5f5f5;
    --db-WBR: #d5001f;
    --db-lonelyplanet: #0d2481;
    --db-hearst: #b4d0e7;
    --db-clearchanneloutdoor: #ffd830;
    --db-text: #080808;
}
.row{
    width: 100%;
}
.d-flex
{
    display: flex;
}
ul{
    list-style-type: none;
}

/* #header */
nav{
    position: fixed;
    width: 100%;
    background-color: #ffd830;
    justify-content: center;
}
header li{
    padding: 1rem;
}

header .row{
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* main */
.intro{
    padding-top: 90px;
    width: 100%;
    height: 100%;
    background-color: var(--db-banner);
}

.card{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    padding: 1rem;
}

h1{
    font-size: 4rem;
    font-weight: bold;
}


.colbanner{
    width: 50%;
    background-color: #61082b;
    height: 200px;
    border: 1px solid black;
    margin-top: 1rem;   
}

.arrow-down{
    align-items: flex-end;
}

img{
    width: 100%;
    margin-bottom: -5rem;
}